<footer class="section-footer">
    <div class="footer-census">
        <div class="warpper">
            <!-- <img class="census-warpper-bg" src="../images/footer-census-bg.png" alt=""> -->
            <div class="census-bottom">
                <div class="census-item col-sm-3">
                    <p>1500+</p>
                    <p>覆盖全国</p>
                </div>
                <div class="census-item col-sm-3">
                    <p>1500+</p>
                    <p>服务商</p>
                </div>
                <div class="census-item col-sm-3">
                    <p>80%</p>
                    <p>城市覆盖率</p>
                </div>
                <div class="census-item col-sm-3">
                    <p>7x24</p>
                    <p>优质服务</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom" style="background-image: url(<%= require('../images/footer_bg.png') %>);">
        <div class="warpper">
            <div class="contact-us">
                <div class="contact-us-left col-sm-10">
                    <p class="us-title">联系我们</p>
                    <p class="us-cell"><img src="<%= require('../images/us_cell.png') %>" alt="" srcset="">咨询热线：<span>023-xxxxx</span></p>
                    <p class="us-email"><img src="<%= require('../images/us_email.png') %>" alt="" srcset="">邮箱：<span>xxxxx@sina.com</span></p>
                    <p class="us-email"><img src="<%= require('../images/us_address.png') %>" alt="" srcset="">公司地址: <span>xxxx楼</span></p>
                </div>
                
            </div>
            <div class="footer-capy">© 2018 xxxxx 版权所有   渝ICP备xxx号-4</div>
        </div>
    </div>
</footer>
</body>
</html>